/*Gris: #444
 * Azul: #1a9bca
 * */

/*Principales*/

body{
	background: #b5b5b5;
	font-family: "Century Gothic";
	color: #106177;
	padding-top:80px;
}

.login{
	margin-bottom:100px;
}

.logo-login{
	margin:auto;
	margin-bottom:10px;
}

/*Navegacion*/

@media (max-width: 1920px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text, .navbar-left {
        float: none!important;
        margin:5px -15px;
		padding:5px 15px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        overflow-y:auto!important;
        padding-left:15px;
        padding-right:15px;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

a.navbar-brand{
	padding:10px;
	height:70px;
}

.navbar-brand img{
	height:50px;
	width:auto; 
	margin:auto;
}

.navbar{
	min-height:70px;
	background-color: #106177;
	border-color:#777;
}

.navbar-toggle{
	margin:18px 15px 18px 5px;
}

.navbar-text{
	margin:5px -15px;
	padding:5px 15px;
}

.nav-divider{
	margin: 5px auto;
	border-top: 1px solid #777;
}

.list-group-item>.badge{
	background-color: #106177;
}

/* Navegacion Interna */

.nav-tabs{
	border-bottom:1px solid #333;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
	color:#FFF;
	text-decoration:none;
	background-color:transparent;
	border-color:transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#FFF;
	background-color:#101010;
	border:solid 1px #212121;
	border-bottom-color:transparent;
	cursor:default;
}

/* Efecto Container */

.container-fluid{
	-webkit-animation: abre 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: abre 0.5s; /* Firefox < 16 */
    -ms-animation: abre 0.5s; /* Internet Explorer */
    -o-animation: abre 0.5s; /* Opera < 12.1 */
    animation: abre 0.5s;
}

@keyframes abre {
	from { transform:scale(0.5); }
    to { transform:scale(1.0); }
}

/* Firefox < 16 */
@-moz-keyframes abre {
    from { transform:scale(0.5); }
    to { transform:scale(1.0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes abre {
    from { transform:scale(0.5); }
    to { transform:scale(1.0); }
}

/* Internet Explorer */
@-ms-keyframes abre {
    from { transform:scale(0.5); }
    to { transform:scale(1.0); }
}

/* Opera < 12.1 */
@-o-keyframes abre {
    from { transform:scale(0.5); }
    to { transform:scale(1.0); }
}

/*Shortcuts*/

.btn-alerta{
	color:#000;
	background-color: #FCFC4C;
	border-color: #FCFC4C;
}

/*Elementos del dashboard*/


/*Mensajes Ticket*/

.panel-body{
	padding-bottom: 100px;
	color:#FFF;
}

.panel-body>blockquote>footer{
	color:#EEE;
}

.panel-body>blockquote{
	border-color:#444;
}

.panel-body>.blockquote-reverse{
	background-color:#5cb85c;
	border-color:#444;
}

.facturas{
	color:#000;
}

.noticia{
	color:#000;
	padding-bottom: 15px;
}

.list-group-item{
	background-color: #999;
	border-color:#777;
}

a.list-group-item{
	color:#eaeaea;
}

a.list-group-item:hover{
	color:#555;
}

.btn-default{
	color:#106177;
}
.btn-default:focus{
	color:#0f5160;
}
.btn-default:hover{
	color:#0f5160;
}
.navbar-inverse .navbar-nav>li>a{
	color:#fff;
}
.navbar-inverse .navbar-nav> .active > a{
	color:#999;
	background-color:#093D49;	
}
.navbar-inverse .navbar-nav> .active > a:focus{
	color:#999;
	background-color:#093D49;	
}
.navbar-inverse .navbar-nav> .active > a:hover{
	color:#fff;
	background-color:#0f5160;
}
.navbar-inverse .navbar-nav >li >a:hover{
	color:#999;
}
.navbar-inverse .navbar-text{
	color:#fff;
}
.navbar-inverse .navbar-link{
	color:#fff;
}
.navbar-inverse .navbar-link:hover{
	color:#999;
}
.navbar-inverse .navbar-collapse{
	border-color:#777;
}
.navbar-inverse .navbar-toggle:focus{
	background-color:#0f5160;	
}
.navbar-inverse .navbar-toggle:hover{
	background-color:#093D49;	
}
.navbar-inverse .navbar-toggle{
	border-color:#b5b5b5;
}
.navbar-inverse .navbar-toggle .icon-bar{ 
	background-color:#b5b5b5;
}

.panel-default > .panel-heading{
	background-color:#999;
	color:#eaeaea;
}
.panel-default{
	border:none;
}
.nav-tabs > li > a{
	color:#555;
}
.nav-tabs > li > a:hover{
	color:#106177;
}
.nav-tabs > li.active > a{
	background-color:#0f5160;
	border-color:#093D49;
}
.nav-tabs > li.active > a:hover{
	background-color:#093D49;
}
.nav-tabs{
	border-bottom: 1px solid #093D49
}
.panel{
	background-color:#999;
}
.lineaPunteada2{
	font-size: 10px; color: #106177; border-bottom: 2px dotted #106177;
}